@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap');
.content_footer h1 {
    font-family: 'Nanum Gothic', sans-serif;
  
  font-size: 18px;
  color: #f7b526;
}

.content_footer a {

  color: #2c2b2b;
 /* text-decoration: underline;*/
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
}


.content_footer{padding: 0;}

