@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* beginning test:  added for map !!!! */

@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~leaflet/dist/leaflet.css";

/* end testing map */

#icons {
  line-height: 19px;
}
.ant-table-thead > tr > th {
  color: #616055;
  background: white !important;
}
.ant-carousel > .slick-slider > .slick-list {
  overflow: visible;
}
.pres {
  font-family: "Montserrat", sans-serif;
}
.ant-carousel {
  width: 70%;
  overflow: visible;
}
.ant-table {
  font-family: "Roboto", sans-serif;
}
#payer {
  font-family: "Roboto", sans-serif;
}

#kids {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 35px;
}

.research_bar {
  font-family: "Dosis", sans-serif;
  position: flex;
  display: flex;
  justify-content: space-evenly;
}
#titreCart {
  font-weight: 300;
  color: #616055;
}
.border {
  height: 3px;
}

.cropLogo img {
  height: 90px;
  width: 175px;
  /*display: block;*/
}
.crop {
  height: 10%;
}
.menu {
  font-family: "Dosis", sans-serif;
}
.menu_abt {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#img_logo_desktop {
  max-width: 250px;

  max-height: 150px;
}
#img {
  position: "absolute";
  height: 70px;
  width: 120px;
}

.dashboardSearch {
  font-family: "Dosis", sans-serif;
}

.top {
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 0.5%;
  padding-top: 2%;

  margin-left: 3.5%;
  width: 100%;
}

#button_giver {
  font-family: "Dosis", sans-serif;
}

.div_video {
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.crop {
  width: 60%;
}

.ant-menu > .ant-menu-item {
  border: none !important;
}

.ant-table-tbody > tr > td {
  border-bottom: 0px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
}

.ant-select-selector {
  border-radius: 25px;
}

.ant-select-auto-complete {
  border-radius: 25px;
}
#autoc > .dashboardSearch > .ant-select-selector {
  border-radius: 25px;
  height: 50px;
}

#color {
  border: 1px solid #b1afaf;
}

.ant-card-meta-description {
  top: "10%";
  right: 70%;
  /* margin-left: 90%; */
  font-weight: 1300;
  text-decoration: none;
  color: black;
  width: 100%;
}
.ant-card-meta-title {
  overflow: hidden;
  color: black;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  /* display: flex; */
}
.ant-card-meta-detail {
  overflow: hidden;
  color: black;
  display: inline-block;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header ul {
  list-style-type: none;
  display: flex;

  height: 90%;
}

@media (max-width: 799px) {
  .header ul li {
    display: list-item;

    padding-right: 15%;
  }
}
@media (min-width: 800px) {
  .header ul {
    justify-content: center;
  }
  .header ul li {
    padding-right: 2%;
  }
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
}
.pres {
  font-family: "Noto Sans KR", sans-serif;
}
.autocomplete-container {
  position: relative;
}
