<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT!</title>
  </head>
  <body
    style="
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <!-- Header Section -->
      <h1 style="color: #333333; text-align: center">
        Contacted by {{ name }}
      </h1>

      <!-- Client's Message -->
      <div
        style="
          background-color: #f9f9f9;
          border-radius: 8px;
          padding: 15px;
          margin: 15px 0;
        "
      >
        <p style="color: #333333; margin: 0">{{ message }}</p>
      </div>

      <!-- Client's Information -->
      <ul style="list-style-type: none; padding: 0; margin: 0">
        <li style="margin-bottom: 10px"><strong>Name:</strong> {{ name }}</li>
        <li style="margin-bottom: 10px"><strong>Email:</strong> {{ email }}</li>
        <li style="margin-bottom: 10px">
          <strong>Website:</strong>
          <a href="" +{{ url }} style="color: #007bff; text-decoration: none"
            >{{ url }}</a
          >
        </li>
      </ul>

      <!-- Closing Note -->

      <!-- Signature -->
      <p style="color: #333333; text-align: right; margin-top: 30px">
        Best Regards,<br />
      </p>
    </div>
  </body>
</html>
